---
interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
import Navbar from "../components/Navigation.astro";
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import Description from "../components/Desctiption.astro";

import  AstroSeo  from '@northsoon/astro-seo';
---
<!doctype html>
<html lang="ru">
  <head>
    

    <title>{title}</title>
    <delscription>{description}</description>
        <meta charset="utf-8" />
    <link rel="icon" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <AstroSeo
      title={title}
      titleTemplate="%s | Самашрум"
      description={description}
      canonical="https://samashroom.ru"
      openGraph={{
        url: "https://samashroom.ru",
        title: {title},
        description: {description},
        type: "website",
        images: [{
          url: "https://mysite.com/og-image.jpg",
          width: 1200,
          height: 630,
          alt: "Превью сайта"
        }]
      }}
      twitter={{
        cardType: "summary_large_image", // 'summary' или 'summary_large_image'
      }}
    />

  </head>
  <body>
    <main>
      <div class="headpannel">
        <div class="headpannel__content">
          <a href="/"><h1>Самашрум <i class="fa-solid fa-arrow-pointer"></i></h1></a>
          
          <Navbar />
        </div>
      </div>

      <div class="container">
        <div class="container__content">
          <Description title={title} description={description} />
          <slot />
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
<style>
  body {
    display: flex;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 2rem;
    background:
      linear-gradient(45deg, #1e9b9b 0%, #cf7900 70%, rgb(233, 197, 149) 100%),
      radial-gradient(
        circle at 20% 80%,
        rgba(255, 255, 255, 0.2) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at 80% 20%,
        rgba(255, 255, 255, 0.15) 0%,
        transparent 50%
      ),
      url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-blend-mode: overlay, screen, screen, normal;
    min-height: 100vh;
    padding: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
  }

  .headpannel h1 {
    margin: 0;
    color: #fff;
  }
  
  .headpannel a{
    text-decoration: none;
    color: inherit;
  }
  .headpannel a:hover {
    scale: calc(1.05);
    transition: all 0.1s ease;
    transform: translateY(-3px);
  }
  @media (max-width: 600px) {
    body {
      padding: 1rem;
    }
    main {
      padding: 0;
    }
    .headpannel h1 {
      font-size: 1.25rem;
    }
    .headpannel h2 {
      font-size: 1rem;
    }
  }

  .headpannel,
  .container {
    box-shadow:
      0 0 80px rgba(0, 200, 255, 0.5),
      0 10px 20px rgba(255, 102, 0, 0.3),
      inset 0 0 30px rgba(0, 255, 255, 0.3),
      inset 0 -10px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .headpannel {
    background: linear-gradient(
      to bottom,
      #4dcff7 0%,
      #1e80b8 45%,
      #1b6691 55%,
      #054886 100%
    );
    border-radius: 6px 6px 0 0;
    border: 1px solid;
    border-bottom: none;
    border-top: none;
    border-color: #1e80b800;
  }

  .headpannel__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
  }

  .container {
    background: linear-gradient(
      #f5ffff 0%,
      #cbced39d 10%,
      #f3eeec8c 90%,
      rgb(186, 209, 231) 100%
    );
    border: 1px solid;
    border-top: none;
    border-image: linear-gradient(
        to bottom,
        #4dcff7 0%,
        #1e80b8 50%,
        #1b6691 51%,
        #1494cf 100%
      )
      1;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.5);
  }

  .container__content {
    padding: 1rem 20px;
    
  }

  .container h2 {
    text-align: center;
    margin: 0;
    padding: 0.3rem;
    color: #13242e;
    background: linear-gradient(#cccccc 0%, #8b8b8b 100%);
    width: fit-content;
  }
</style>
